*{
    font-family:system-ui;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --header-content-bg:white;
    --text-color:black;
    --body-bg: #f1f5f4;
    --card-bg: #ecf0ef;
    --date-color: #656565;
    --theme-btn-color:black;
    --box-shadow:0 2px 3px #c1c1c1;

}
.dark{
    --header-content-bg: #343a47;
    --text-color:white;
    --body-bg: #2a3436;
    --card-bg: #293335;
    --date-color: #adbec1;
    --theme-btn-color:white;
    --box-shadow:0 2px 3px #1f2729;
}
body{
    background-color:var(--body-bg);
    color:var(--text-color);
    display:flex;
    flex-direction:column;
    /*justify-content:center;*/
    transition:1s linear;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
    background-color:var(--header-content-bg);
    line-height:3rem;
    /*box-shadow:0 2px 9px #888888;*/
    box-shadow:var(--box-shadow);
}
header p{
    text-align:center;
}

#theme,#create-task,#cancel-task,#save-task{
    padding:.4rem;
    border-radius:.4rem;
    transition:.4s;
}
header button:hover,form button:hover{
    transform:translateY(-4%);
}
#theme,#cancel-task{
    background-color:transparent;
    border:solid 1px var(--theme-btn-color);
    color:var(--text-color);

}
#create-task,#save-task{
    background-color: #841ee4;
    color:white;
    border:none;
}
#buttons{
    display:flex;
    gap:1rem;
}
#grid-it{
    margin-top:2rem;
    display:grid;
    grid-template-columns:repeat(3,auto);
    gap:2rem;
    padding:1rem;
    /*grid-auto-rows:minmax(70vh,auto);*/
    
    
}
.box{
    background-color:var(--card-bg);
    display:flex;
    flex-direction:column;
    padding:1rem;
    min-height:70vh;
    border-radius:.5rem;
    border-top: #841ee4 solid 5px;
    box-shadow:var(--box-shadow);
    max-height:70vh;
    
}
h4{
    display:flex;
}
h4>span{
    margin-left:auto;
    background-color:var(--header-content-bg);
    border-radius:4rem;
    text-align:center;
    padding:0 .4rem 0 .4rem;
    box-shadow:0 2px 9px #888888;
}
ul{
    list-style-type:none;
    padding:1rem 0 0 0;
    overflow-y:auto;
    flex:1;
}
.tasks{
    background-color:var(--header-content-bg);
    display:flex;
    justify-content:space-between;
    align-items:end;
    padding:.7rem;
    border-radius:.4rem;
    line-height:1.8rem;
    border-left:solid 5px;
    box-shadow:var(--box-shadow);
    cursor:grab;
    margin:1rem 0;

    user-select:none;
}
.date{
    font-size:.7rem;
    color:var(--date-color);
}
.delete{
    color:red;
    font-size:1.2rem;
    background-color:transparent;
    border:none;
    font-weight:bold;
    cursor:pointer;
}
.delete:hover{
    transform:translateY(-4%);
}
#create-task-box{
    /*position:absolute;*/
    /*top:50%;*/
    /*left:50%;*/
    /*transform:translateX(-50%) translateY(-50%);*/
    background-color:var(--header-content-bg);
}
#create-task-box{
    display:flex;
    flex-direction:column;
    gap:1rem;
    padding:2rem;
    border-radius:.5rem;
    box-shadow:var(--box-shadow);
    max-width:25rem;
    width:90%;
}
#create-task-box form{
    display:flex;
    flex-direction:column;
    gap:2rem;
}
input,select{
    height:2.3rem;
    border:solid grey 1px;
    border-radius:.5rem;
    background-color:var(--body-bg);
    padding:.5rem;
    color:var(--text-color);
}
#overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); /* dim */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px); /* Safari */

    display: none;
   justify-content:center;
    align-items:center;

    z-index: 1000;
}
#save-task{
    margin-left:8px;
}
.dragging{
    opacity:0.5;
}
@media(max-width:1024px){
    #grid-it{
        display:grid;
        grid-template-columns:auto auto;
    }
    
    
}
@media(max-width:640px){
    #grid-it{
        display:grid;
        grid-template-columns:auto;
    }
    .box{
        min-height:30vh;
        /*max-height:30vh;*/
    }
}